# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/
env/


# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/


# Env & secrets
.env
*.env
*.env.*


# Logs & temp
*.log
/tmp/
.cache/